In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-es-institute/projects/main/project-1-customer-purchase-behavior-knn/purchase_history.csv")

In [3]:
df.head()

   Customer ID  Gender  Age  Salary Product ID  Price  Purchased
0            1  Female   49   61000        P01   2000          1
1            2    Male   36   30000        P02   2000          1
2            3  Female   26   81000        P02   3500          1
3            4  Female   32   74000        P01   7000          0
4            5  Female   42   56000        P01   5000          0

In [4]:
df.count()

Customer ID    1000
Gender         1000
Age            1000
Salary         1000
Product ID     1000
Price          1000
Purchased      1000
dtype: int64

In [5]:
len(df)

1000

In [6]:
gender_encoded = pd.get_dummies(df['Gender'])

In [7]:
gender_encoded

     Female  Male
0         1     0
1         0     1
2         1     0
3         1     0
4         1     0
..      ...   ...
995       0     1
996       0     1
997       1     0
998       0     1
999       1     0

[1000 rows x 2 columns]

In [8]:
gender_encoded = pd.get_dummies(df['Gender'],drop_first=True)

In [9]:
gender_encoded

     Male
0       0
1       1
2       0
3       0
4       0
..    ...
995     1
996     1
997     0
998     1
999     0

[1000 rows x 1 columns]

In [10]:
df = pd.concat([df,gender_encoded],axis=1)

In [11]:
df

     Customer ID  Gender  Age  Salary Product ID  Price  Purchased  Male
0              1  Female   49   61000        P01   2000          1     0
1              2    Male   36   30000        P02   2000          1     1
2              3  Female   26   81000        P02   3500          1     0
3              4  Female   32   74000        P01   7000          0     0
4              5  Female   42   56000        P01   5000          0     0
..           ...     ...  ...     ...        ...    ...        ...   ...
995          996    Male   21   73000        P02   5000          1     1
996          997    Male   62   54000        P01   5000          0     1
997          998  Female   41   20000        P03   2000          0     0
998          999    Male   22   29000        P03   5000          0     1
999         1000  Female   49   36000        P03   3500          0     0

[1000 rows x 8 columns]

In [12]:
x = df[['Male','Age','Salary','Price']].to_numpy()

In [13]:
x

array([[    0,    49, 61000,  2000],
       [    1,    36, 30000,  2000],
       [    0,    26, 81000,  3500],
       ...,
       [    0,    41, 20000,  2000],
       [    1,    22, 29000,  5000],
       [    0,    49, 36000,  3500]])

In [14]:
y = df['Purchased'].to_numpy()

In [15]:
y

array([1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0])

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [18]:
x_train

array([[    1,    26, 28000,  5000],
       [    1,    54, 21000,  7000],
       [    0,    42, 22000,  5000],
       ...,
       [    0,    59, 91000,  2000],
       [    0,    31, 82000,  2000],
       [    0,    20, 34000,  5000]])

In [19]:
x_test

array([[     1,     54,  36000,   5000],
       [     0,     54,  60000,   7000],
       [     1,     25,  39000,   2000],
       [     0,     39,  38000,   7000],
       [     1,     28,  37000,   5000],
       [     1,     52,  42000,   2000],
       [     0,     43,  25000,   7000],
       [     0,     40,  22000,   5000],
       [     0,     18,  23000,   3500],
       [     1,     62,  40000,   5000],
       [     1,     53,  66000,   5000],
       [     0,     50,  38000,   7000],
       [     0,     49,  59000,   7000],
       [     0,     56,  97000,   2000],
       [     1,     41,  44000,   3500],
       [     1,     37,  74000,   2000],
       [     0,     51,  23000,   5000],
       [     1,     54,  29000,   2000],
       [     1,     30,  48000,   3500],
       [     1,     56,  87000,   3500],
       [     0,     61,  75000,   7000],
       [     1,     52,  49000,   7000],
       [     0,     38, 100000,   2000],
       [     0,     40,  79000,   5000],
       [     1,     39,  45000,   2000],
       [     0,     61,  79000,   7000],
       [     1,     38,  94000,   7000],
       [     0,     24,  23000,   7000],
       [     1,     59,  62000,   5000],
       [     1,     61,  67000,   3500],
       [     1,     40,  31000,   7000],
       [     0,     20,  98000,   3500],
       [     0,     61,  88000,   5000],
       [     0,     46,  77000,   7000],
       [     1,     40,  70000,   2000],
       [     1,     56,  79000,   2000],
       [     1,     23,  40000,   2000],
       [     0,     60,  80000,   3500],
       [     1,     18,  47000,   2000],
       [     1,     53,  53000,   2000],
       [     0,     58,  49000,   7000],
       [     1,     20,  63000,   5000],
       [     1,     32,  42000,   2000],
       [     1,     54,  59000,   7000],
       [     0,     38,  39000,   5000],
       [     0,     19,  34000,   3500],
       [     0,     56,  45000,   3500],
       [     1,     23,  86000,   5000],
       [     1,     38,  30000,   7000],
       [     0,     46,  53000,   5000],
       [     1,     60,  59000,   7000],
       [     0,     52,  24000,   5000],
       [     1,     60,  98000,   5000],
       [     0,     56,  59000,   5000],
       [     1,     25,  51000,   3500],
       [     0,     22,  70000,   2000],
       [     1,     19,  80000,   5000],
       [     0,     31,  40000,   5000],
       [     0,     61,  75000,   2000],
       [     0,     29,  88000,   7000],
       [     0,     39,  76000,   3500],
       [     1,     58,  39000,   2000],
       [     1,     33,  35000,   3500],
       [     0,     51,  65000,   5000],
       [     1,     53,  21000,   3500],
       [     0,     59,  32000,   3500],
       [     0,     35,  74000,   3500],
       [     1,     63,  62000,   5000],
       [     0,     35,  73000,   5000],
       [     0,     26,  55000,   7000],
       [     0,     39,  59000,   3500],
       [     0,     18,  52000,   2000],
       [     0,     23,  74000,   7000],
       [     1,     40,  27000,   7000],
       [     1,     42,  40000,   2000],
       [     0,     36,  90000,   7000],
       [     1,     20,  92000,   3500],
       [     1,     30,  36000,   3500],
       [     0,     50,  48000,   2000],
       [     1,     30,  82000,   5000],
       [     1,     26,  64000,   2000],
       [     1,     63,  61000,   5000],
       [     0,     60,  45000,   7000],
       [     0,     50,  33000,   2000],
       [     1,     58,  47000,   2000],
       [     1,     59,  65000,   2000],
       [     1,     22,  29000,   5000],
       [     0,     31,  36000,   2000],
       [     1,     24,  30000,   5000],
       [     0,     22,  87000,   7000],
       [     1,     60,  51000,   7000],
       [     1,     43,  20000,   7000],
       [     1,     64,  69000,   3500],
       [     1,     30,  40000,   7000],
       [     1,     59,  46000,   2000],
       [     1,     19,  43000,   2000],
       [     1,     26,  84000,   3500],
       [     1,     49,  62000,   3500],
       [     0,     43,  46000,   3500],
       [     1,     33,  75000,   2000],
       [     1,     56,  52000,   5000],
       [     1,     46,  60000,   5000],
       [     0,     64,  93000,   2000],
       [     1,     56,  97000,   3500],
       [     1,     55,  54000,   5000],
       [     1,     57,  61000,   3500],
       [     1,     53,  43000,   3500],
       [     0,     40,  92000,   7000],
       [     0,     22,  87000,   2000],
       [     1,     21,  38000,   7000],
       [     0,     29,  41000,   3500],
       [     1,     26,  56000,   7000],
       [     0,     35,  43000,   2000],
       [     1,     47,  39000,   3500],
       [     1,     44,  72000,   3500],
       [     1,     55,  25000,   2000],
       [     0,     23,  79000,   3500],
       [     1,     25,  76000,   3500],
       [     1,     62,  67000,   7000],
       [     1,     24,  68000,   5000],
       [     0,     56,  37000,   7000],
       [     0,     62,  86000,   7000],
       [     1,     38,  82000,   2000],
       [     1,     60,  50000,   7000],
       [     1,     49,  78000,   7000],
       [     1,     40,  82000,   5000],
       [     0,     33,  94000,   5000],
       [     0,     60,  81000,   7000],
       [     0,     63,  37000,   3500],
       [     0,     55,  90000,   7000],
       [     0,     64,  60000,   3500],
       [     0,     19,  88000,   5000],
       [     0,     39,  31000,   7000],
       [     1,     21,  73000,   5000],
       [     0,     46,  28000,   2000],
       [     1,     54,  24000,   2000],
       [     0,     21,  39000,   5000],
       [     1,     54,  32000,   2000],
       [     0,     53,  23000,   2000],
       [     0,     45,  67000,   7000],
       [     1,     60,  31000,   7000],
       [     1,     24,  90000,   3500],
       [     1,     45,  55000,   7000],
       [     0,     21,  21000,   7000],
       [     0,     35,  33000,   7000],
       [     0,     34,  28000,   3500],
       [     0,     21,  57000,   7000],
       [     0,     22,  98000,   3500],
       [     1,     31,  71000,   5000],
       [     1,     22,  96000,   3500],
       [     1,     50,  89000,   2000],
       [     1,     42,  70000,   3500],
       [     1,     24,  87000,   2000],
       [     0,     35,  20000,   5000],
       [     0,     63,  70000,   3500],
       [     1,     42,  68000,   7000],
       [     0,     52,  47000,   5000],
       [     1,     43,  64000,   7000],
       [     0,     36,  64000,   2000],
       [     1,     18,  62000,   5000],
       [     0,     29,  27000,   5000],
       [     1,     48,  54000,   5000],
       [     1,     64,  30000,   5000],
       [     0,     61,  75000,   2000],
       [     0,     20,  20000,   7000],
       [     0,     62,  29000,   5000],
       [     0,     43,  28000,   2000],
       [     0,     43, 100000,   3500],
       [     0,     45,  37000,   2000],
       [     1,     21,  24000,   7000],
       [     1,     24,  95000,   7000],
       [     1,     28,  82000,   3500],
       [     1,     40,  20000,   5000],
       [     0,     38,  40000,   2000],
       [     1,     30,  43000,   2000],
       [     0,     53,  94000,   5000],
       [     0,     63,  99000,   7000],
       [     1,     64,  92000,   3500],
       [     1,     33,  42000,   3500],
       [     1,     40,  30000,   7000],
       [     1,     21,  60000,   3500],
       [     1,     42,  56000,   7000],
       [     1,     18,  50000,   2000],
       [     1,     25,  91000,   7000],
       [     0,     40,  58000,   7000],
       [     0,     26,  41000,   2000],
       [     0,     54,  93000,   2000],
       [     1,     59,  56000,   2000],
       [     0,     56,  86000,   5000],
       [     0,     27,  79000,   7000],
       [     1,     59,  92000,   2000],
       [     1,     51,  94000,   3500],
       [     0,     28,  22000,   5000],
       [     1,     32, 100000,   5000],
       [     1,     33,  27000,   5000],
       [     1,     57,  37000,   3500],
       [     0,     45,  68000,   2000],
       [     0,     58,  95000,   7000],
       [     1,     36,  23000,   5000],
       [     1,     61,  47000,   2000]])

In [20]:
y_train

array([0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1])

In [21]:
y_test

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0])

In [22]:
len(x_train)

800

In [23]:
len(x_test)

200

In [24]:
len(y_train)

800

In [25]:
len(y_test)

200

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [28]:
x_train

array([[ 1.08347268, -1.09076887, -1.30749141,  0.30934614],
       [ 1.08347268,  0.97668947, -1.60377078,  1.39955279],
       [-0.92295821,  0.0906359 , -1.56144515,  0.30934614],
       ...,
       [-0.92295821,  1.34587846,  1.35902286, -1.32596384],
       [-0.92295821, -0.72157988,  0.97809225, -1.32596384],
       [-0.92295821, -1.53379565, -1.05353767,  0.30934614]])

In [29]:
x_test

array([[ 0.91370804,  0.84165121, -0.92674628,  0.29135523],
       [-1.0944415 ,  0.84165121,  0.09493083,  1.3460348 ],
       [ 0.91370804, -1.16805526, -0.79903664, -1.29066412],
       [-1.0944415 , -0.19785214, -0.84160652,  1.3460348 ],
       [ 0.91370804, -0.96015459, -0.8841764 ,  0.29135523],
       [ 0.91370804,  0.70305076, -0.671327  , -1.29066412],
       [-1.0944415 ,  0.07934876, -1.39501496,  1.3460348 ],
       [-1.0944415 , -0.12855191, -1.5227246 ,  0.29135523],
       [-1.0944415 , -1.65315683, -1.48015472, -0.49965444],
       [ 0.91370804,  1.396053  , -0.75646676,  0.29135523],
       [ 0.91370804,  0.77235099,  0.35035011,  0.29135523],
       [-1.0944415 ,  0.56445032, -0.84160652,  1.3460348 ],
       [-1.0944415 ,  0.49515009,  0.05236095,  1.3460348 ],
       [-1.0944415 ,  0.98025166,  1.67001638, -1.29066412],
       [ 0.91370804, -0.05925169, -0.58618724, -0.49965444],
       [ 0.91370804, -0.33645258,  0.69090915, -1.29066412],
       [-1.0944415 ,  0.63375054, -1.48015472,  0.29135523],
       [ 0.91370804,  0.84165121, -1.22473544, -1.29066412],
       [ 0.91370804, -0.82155415, -0.41590772, -0.49965444],
       [ 0.91370804,  0.98025166,  1.24431758, -0.49965444],
       [-1.0944415 ,  1.32675277,  0.73347903,  1.3460348 ],
       [ 0.91370804,  0.70305076, -0.37333784,  1.3460348 ],
       [-1.0944415 , -0.26715236,  1.79772602, -1.29066412],
       [-1.0944415 , -0.12855191,  0.90375855,  0.29135523],
       [ 0.91370804, -0.19785214, -0.54361736, -1.29066412],
       [-1.0944415 ,  1.32675277,  0.90375855,  1.3460348 ],
       [ 0.91370804, -0.26715236,  1.54230674,  1.3460348 ],
       [-1.0944415 , -1.23735549, -1.48015472,  1.3460348 ],
       [ 0.91370804,  1.18815233,  0.18007059,  0.29135523],
       [ 0.91370804,  1.32675277,  0.39291999, -0.49965444],
       [ 0.91370804, -0.12855191, -1.13959568,  1.3460348 ],
       [-1.0944415 , -1.51455638,  1.71258626, -0.49965444],
       [-1.0944415 ,  1.32675277,  1.28688746,  0.29135523],
       [-1.0944415 ,  0.28724943,  0.81861879,  1.3460348 ],
       [ 0.91370804, -0.12855191,  0.52062963, -1.29066412],
       [ 0.91370804,  0.98025166,  0.90375855, -1.29066412],
       [ 0.91370804, -1.30665571, -0.75646676, -1.29066412],
       [-1.0944415 ,  1.25745255,  0.94632843, -0.49965444],
       [ 0.91370804, -1.65315683, -0.4584776 , -1.29066412],
       [ 0.91370804,  0.77235099, -0.20305833, -1.29066412],
       [-1.0944415 ,  1.1188521 , -0.37333784,  1.3460348 ],
       [ 0.91370804, -1.51455638,  0.22264047,  0.29135523],
       [ 0.91370804, -0.6829537 , -0.671327  , -1.29066412],
       [ 0.91370804,  0.84165121,  0.05236095,  1.3460348 ],
       [-1.0944415 , -0.26715236, -0.79903664,  0.29135523],
       [-1.0944415 , -1.5838566 , -1.01188604, -0.49965444],
       [-1.0944415 ,  0.98025166, -0.54361736, -0.49965444],
       [ 0.91370804, -1.30665571,  1.2017477 ,  0.29135523],
       [ 0.91370804, -0.26715236, -1.18216556,  1.3460348 ],
       [-1.0944415 ,  0.28724943, -0.20305833,  0.29135523],
       [ 0.91370804,  1.25745255,  0.05236095,  1.3460348 ],
       [-1.0944415 ,  0.70305076, -1.43758484,  0.29135523],
       [ 0.91370804,  1.25745255,  1.71258626,  0.29135523],
       [-1.0944415 ,  0.98025166,  0.05236095,  0.29135523],
       [ 0.91370804, -1.16805526, -0.28819809, -0.49965444],
       [-1.0944415 , -1.37595593,  0.52062963, -1.29066412],
       [ 0.91370804, -1.5838566 ,  0.94632843,  0.29135523],
       [-1.0944415 , -0.75225392, -0.75646676,  0.29135523],
       [-1.0944415 ,  1.32675277,  0.73347903, -1.29066412],
       [-1.0944415 , -0.89085437,  1.28688746,  1.3460348 ],
       [-1.0944415 , -0.19785214,  0.77604891, -0.49965444],
       [ 0.91370804,  1.1188521 , -0.79903664, -1.29066412],
       [ 0.91370804, -0.61365348, -0.96931616, -0.49965444],
       [-1.0944415 ,  0.63375054,  0.30778023,  0.29135523],
       [ 0.91370804,  0.77235099, -1.56529448, -0.49965444],
       [-1.0944415 ,  1.18815233, -1.0970258 , -0.49965444],
       [-1.0944415 , -0.47505303,  0.69090915, -0.49965444],
       [ 0.91370804,  1.46535322,  0.18007059,  0.29135523],
       [-1.0944415 , -0.47505303,  0.64833927,  0.29135523],
       [-1.0944415 , -1.09875504, -0.11791857,  1.3460348 ],
       [-1.0944415 , -0.19785214,  0.05236095, -0.49965444],
       [-1.0944415 , -1.65315683, -0.24562821, -1.29066412],
       [-1.0944415 , -1.30665571,  0.69090915,  1.3460348 ],
       [ 0.91370804, -0.12855191, -1.3098752 ,  1.3460348 ],
       [ 0.91370804,  0.01004853, -0.75646676, -1.29066412],
       [-1.0944415 , -0.40575281,  1.37202722,  1.3460348 ],
       [ 0.91370804, -1.51455638,  1.45716698, -0.49965444],
       [ 0.91370804, -0.82155415, -0.92674628, -0.49965444],
       [-1.0944415 ,  0.56445032, -0.41590772, -1.29066412],
       [ 0.91370804, -0.82155415,  1.03146818,  0.29135523],
       [ 0.91370804, -1.09875504,  0.26521035, -1.29066412],
       [ 0.91370804,  1.46535322,  0.13750071,  0.29135523],
       [-1.0944415 ,  1.25745255, -0.54361736,  1.3460348 ],
       [-1.0944415 ,  0.56445032, -1.05445592, -1.29066412],
       [ 0.91370804,  1.1188521 , -0.4584776 , -1.29066412],
       [ 0.91370804,  1.18815233,  0.30778023, -1.29066412],
       [ 0.91370804, -1.37595593, -1.22473544,  0.29135523],
       [-1.0944415 , -0.75225392, -0.92674628, -1.29066412],
       [ 0.91370804, -1.23735549, -1.18216556,  0.29135523],
       [-1.0944415 , -1.37595593,  1.24431758,  1.3460348 ],
       [ 0.91370804,  1.25745255, -0.28819809,  1.3460348 ],
       [ 0.91370804,  0.07934876, -1.60786436,  1.3460348 ],
       [ 0.91370804,  1.53465344,  0.47805975, -0.49965444],
       [ 0.91370804, -0.82155415, -0.75646676,  1.3460348 ],
       [ 0.91370804,  1.18815233, -0.50104748, -1.29066412],
       [ 0.91370804, -1.5838566 , -0.62875712, -1.29066412],
       [ 0.91370804, -1.09875504,  1.11660794, -0.49965444],
       [ 0.91370804,  0.49515009,  0.18007059, -0.49965444],
       [-1.0944415 ,  0.07934876, -0.50104748, -0.49965444],
       [ 0.91370804, -0.61365348,  0.73347903, -1.29066412],
       [ 0.91370804,  0.98025166, -0.24562821,  0.29135523],
       [ 0.91370804,  0.28724943,  0.09493083,  0.29135523],
       [-1.0944415 ,  1.53465344,  1.49973686, -1.29066412],
       [ 0.91370804,  0.98025166,  1.67001638, -0.49965444],
       [ 0.91370804,  0.91095143, -0.16048845,  0.29135523],
       [ 0.91370804,  1.04955188,  0.13750071, -0.49965444],
       [ 0.91370804,  0.77235099, -0.62875712, -0.49965444],
       [-1.0944415 , -0.12855191,  1.45716698,  1.3460348 ],
       [-1.0944415 , -1.37595593,  1.24431758, -1.29066412],
       [ 0.91370804, -1.44525616, -0.84160652,  1.3460348 ],
       [-1.0944415 , -0.89085437, -0.71389688, -0.49965444],
       [ 0.91370804, -1.09875504, -0.07534869,  1.3460348 ],
       [-1.0944415 , -0.47505303, -0.62875712, -1.29066412],
       [ 0.91370804,  0.35654965, -0.79903664, -0.49965444],
       [ 0.91370804,  0.14864898,  0.60576939, -0.49965444],
       [ 0.91370804,  0.91095143, -1.39501496, -1.29066412],
       [-1.0944415 , -1.30665571,  0.90375855, -0.49965444],
       [ 0.91370804, -1.16805526,  0.77604891, -0.49965444],
       [ 0.91370804,  1.396053  ,  0.39291999,  1.3460348 ],
       [ 0.91370804, -1.23735549,  0.43548987,  0.29135523],
       [-1.0944415 ,  0.98025166, -0.8841764 ,  1.3460348 ],
       [-1.0944415 ,  1.396053  ,  1.2017477 ,  1.3460348 ],
       [ 0.91370804, -0.26715236,  1.03146818, -1.29066412],
       [ 0.91370804,  1.25745255, -0.33076797,  1.3460348 ],
       [ 0.91370804,  0.49515009,  0.86118867,  1.3460348 ],
       [ 0.91370804, -0.12855191,  1.03146818,  0.29135523],
       [-1.0944415 , -0.61365348,  1.54230674,  0.29135523],
       [-1.0944415 ,  1.25745255,  0.98889831,  1.3460348 ],
       [-1.0944415 ,  1.46535322, -0.8841764 , -0.49965444],
       [-1.0944415 ,  0.91095143,  1.37202722,  1.3460348 ],
       [-1.0944415 ,  1.53465344,  0.09493083, -0.49965444],
       [-1.0944415 , -1.5838566 ,  1.28688746,  0.29135523],
       [-1.0944415 , -0.19785214, -1.13959568,  1.3460348 ],
       [ 0.91370804, -1.44525616,  0.64833927,  0.29135523],
       [-1.0944415 ,  0.28724943, -1.26730532, -1.29066412],
       [ 0.91370804,  0.84165121, -1.43758484, -1.29066412],
       [-1.0944415 , -1.44525616, -0.79903664,  0.29135523],
       [ 0.91370804,  0.84165121, -1.0970258 , -1.29066412],
       [-1.0944415 ,  0.77235099, -1.48015472, -1.29066412],
       [-1.0944415 ,  0.2179492 ,  0.39291999,  1.3460348 ],
       [ 0.91370804,  1.25745255, -1.13959568,  1.3460348 ],
       [ 0.91370804, -1.23735549,  1.37202722, -0.49965444],
       [ 0.91370804,  0.2179492 , -0.11791857,  1.3460348 ],
       [-1.0944415 , -1.44525616, -1.56529448,  1.3460348 ],
       [-1.0944415 , -0.47505303, -1.05445592,  1.3460348 ],
       [-1.0944415 , -0.54435325, -1.26730532, -0.49965444],
       [-1.0944415 , -1.44525616, -0.03277881,  1.3460348 ],
       [-1.0944415 , -1.37595593,  1.71258626, -0.49965444],
       [ 0.91370804, -0.75225392,  0.56319951,  0.29135523],
       [ 0.91370804, -1.37595593,  1.6274465 , -0.49965444],
       [ 0.91370804,  0.56445032,  1.32945734, -1.29066412],
       [ 0.91370804,  0.01004853,  0.52062963, -0.49965444],
       [ 0.91370804, -1.23735549,  1.24431758, -1.29066412],
       [-1.0944415 , -0.47505303, -1.60786436,  0.29135523],
       [-1.0944415 ,  1.46535322,  0.52062963, -0.49965444],
       [ 0.91370804,  0.01004853,  0.43548987,  1.3460348 ],
       [-1.0944415 ,  0.70305076, -0.4584776 ,  0.29135523],
       [ 0.91370804,  0.07934876,  0.26521035,  1.3460348 ],
       [-1.0944415 , -0.40575281,  0.26521035, -1.29066412],
       [ 0.91370804, -1.65315683,  0.18007059,  0.29135523],
       [-1.0944415 , -0.89085437, -1.3098752 ,  0.29135523],
       [ 0.91370804,  0.42584987, -0.16048845,  0.29135523],
       [ 0.91370804,  1.53465344, -1.18216556,  0.29135523],
       [-1.0944415 ,  1.32675277,  0.73347903, -1.29066412],
       [-1.0944415 , -1.51455638, -1.60786436,  1.3460348 ],
       [-1.0944415 ,  1.396053  , -1.22473544,  0.29135523],
       [-1.0944415 ,  0.07934876, -1.26730532, -1.29066412],
       [-1.0944415 ,  0.07934876,  1.79772602, -0.49965444],
       [-1.0944415 ,  0.2179492 , -0.8841764 , -1.29066412],
       [ 0.91370804, -1.44525616, -1.43758484,  1.3460348 ],
       [ 0.91370804, -1.23735549,  1.58487662,  1.3460348 ],
       [ 0.91370804, -0.96015459,  1.03146818, -0.49965444],
       [ 0.91370804, -0.12855191, -1.60786436,  0.29135523],
       [-1.0944415 , -0.26715236, -0.75646676, -1.29066412],
       [ 0.91370804, -0.82155415, -0.62875712, -1.29066412],
       [-1.0944415 ,  0.77235099,  1.54230674,  0.29135523],
       [-1.0944415 ,  1.46535322,  1.75515614,  1.3460348 ],
       [ 0.91370804,  1.53465344,  1.45716698, -0.49965444],
       [ 0.91370804, -0.61365348, -0.671327  , -0.49965444],
       [ 0.91370804, -0.12855191, -1.18216556,  1.3460348 ],
       [ 0.91370804, -1.44525616,  0.09493083, -0.49965444],
       [ 0.91370804,  0.01004853, -0.07534869,  1.3460348 ],
       [ 0.91370804, -1.65315683, -0.33076797, -1.29066412],
       [ 0.91370804, -1.16805526,  1.4145971 ,  1.3460348 ],
       [-1.0944415 , -0.12855191,  0.00979107,  1.3460348 ],
       [-1.0944415 , -1.09875504, -0.71389688, -1.29066412],
       [-1.0944415 ,  0.84165121,  1.49973686, -1.29066412],
       [ 0.91370804,  1.18815233, -0.07534869, -1.29066412],
       [-1.0944415 ,  0.98025166,  1.2017477 ,  0.29135523],
       [-1.0944415 , -1.02945482,  0.90375855,  1.3460348 ],
       [ 0.91370804,  1.18815233,  1.45716698, -1.29066412],
       [ 0.91370804,  0.63375054,  1.54230674, -0.49965444],
       [-1.0944415 , -0.96015459, -1.5227246 ,  0.29135523],
       [ 0.91370804, -0.6829537 ,  1.79772602,  0.29135523],
       [ 0.91370804, -0.61365348, -1.3098752 ,  0.29135523],
       [ 0.91370804,  1.04955188, -0.8841764 , -0.49965444],
       [-1.0944415 ,  0.2179492 ,  0.43548987, -1.29066412],
       [-1.0944415 ,  1.1188521 ,  1.58487662,  1.3460348 ],
       [ 0.91370804, -0.40575281, -1.48015472,  0.29135523],
       [ 0.91370804,  1.32675277, -0.4584776 , -1.29066412]])

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
k= 5
knn = KNeighborsClassifier(n_neighbors=k)

In [32]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [33]:
y_pred = knn.predict(x_test)

In [34]:
y_pred

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0])

In [35]:
y_test

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0])

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.765

In [42]:
import pickle

In [43]:
with open('knn_model.pickle','wb') as f:
  pickle.dump(knn,f)

In [46]:
with open('scaler.pickle','wb') as f:
  pickle.dump(scaler,f)

In [47]:
!ls

knn_model.pickle  sample_data  scaler.pickle